/* Variables f0c94a 
-----------------------------------------------------------------*/

:root {
  --maincolor: #00ff00;
}

// 字體變數
$font-primary: "Plus Jakarta Sans", "Taipei Sans TC Beta", "Noto Sans TC", sans-serif;
$font-secondary: "Poppins", sans-serif;
$font-mono: "Space Grotesk", sans-serif;

$body_color: #fff;
$main_color: #00ff00;
$sub_bg: #181818;
$main_bg: #1d1d1d;
$mobile-xs-screen: 480px;
$tablet-sm-screen: 768px;
$desk-md-screen: 992px;
$desk-lg-screen: 1400px;
